ul{
    list-style-type: none;
    display: flex;
    gap: 50px;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    background-color:white;
    margin: 10px;
    border-radius: 10px;
}
li:hover{
    background-color: rgb(102, 63, 63);
   border-radius: 15px;
   padding: 5px 5px;
}